

$body-bg: #9fda58;
$body-color: #454545;
$font-family-sans-serif: Segoe UI, Helvetica, Arial, sans-serif;
$brand-primary: #b8ec79; // #4a4a4a;
$brand-success: lighten(#5cb85c, 25%);
$brand-info: lighten(#5bc0de, 25%);
$brand-warning: lighten(#f0ad4e, 15%);
$brand-danger: #d9534f;
$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 10%);
$link-hover-decoration: underline;
$btn-default-color: #b8ec79;
$btn-default-bg: #0a0a0a;
$btn-default-border: #1b1613;
$btn-default-hover-border: #1b1613;
$btn-default-hover-color: #96f226;
$btn-primary-color: #2293f7;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
$btn-success-color: $brand-success;
$btn-success-border: $brand-success;
$btn-info-color: $brand-info;
$btn-info-border: $brand-info;
$btn-warning-color: $brand-warning;
$btn-warning-border: $brand-warning;
$btn-danger-color: $brand-danger;
$btn-danger-border: $brand-danger;
$link-hover-decoration: none;
//$btn-link-disabled-color: $gray-light;




$navbar-default-bg: $brand-primary;
$navbar-default-border: $brand-primary;
$navbar-default-color: #ffffff;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: darken($navbar-default-link-color,10%);
$navbar-default-link-hover-bg: transparent;
$dropdown-link-color: $text-color;
$border-radius: 6px;
$border-radius-large: 8px;
$border-radius-small: 4px;
//$panel-default-heading-bg: ;
//$panel-default-text: ;
$panel-info-heading-bg: $brand-info;
$panel-success-heading-bg: $brand-success;
$panel-warning-heading-bg: $brand-warning;
$panel-danger-heading-bg: $brand-danger;
$panel-danger-title-color: #ffffff;

$input-bg: #c6e99c;
$input-color: #000000;
